@model IEnumerable<Oasis.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/CambioEstado.js"></script>
    

}

<div class="card">

    <div class="card-header">

        <h5>
            <i class="fas fa-table me-1"></i>
            Lista de Usuarios
        </h5>

    </div>

    <div class="card-body">

        <div>
            <a class="btn btn-success btn-sm" asp-action="Create">Crear Usuario</a>
        </div>

        <br />

        <form asp-controller="Usuarios" asp-action="Index">
            <p>
                Buscar:<input type="text" name="buscar" class="form-text" />
                    <input type="submit" value="Buscar" class="btn btn-primary" />
            </p>
            
        </form>

        <br />

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Documento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Documento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            <div class="form-check form-switch fs-4" data-url="@Url.Action("ActualizarEstado", "Usuarios")" data-idusuario="@item.Documento">
                                <input  @(item.Estado == true ? "checked" : "") type="checkbox" class="form-check-input usuario-estado" id="estado" data-idusuario="@item.Documento" />
                            </div>
                        </td>

                        <td>
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Documento">Editar</a> |
                            <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Documento">Detalle</a> 
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>