@model IEnumerable<Oasis.Models.PermisosRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPermisoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPermisoNavigation.CodigoPermiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoRolNavigation.CodigoRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoPermisoRol">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoPermisoRol">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoPermisoRol">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
